{% load static %}

<!--============= Footer Section Starts Here =============-->
<footer class="footer-section">
    <div class="footer-bottom cl-white">
        <p>Copyright &copy; 2021 <a href="#0">Cadastro de Usuario</a> by: Rafael
            Cunha. <a
                href="mailto:rafael.wfc@gmail.com">rafael.wfc@gmail.com</a></p>
    </div>
</footer>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.js' %}"></script>
<script src="{% static 'assets/js/nice-select.js' %}"></script>
<script src="{% static 'assets/js/owl.min.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>