{% extends "base.html" %}
{% load static %}
{% block conteudo %}

<div class="how-search-section padding-bottom mt--83">
    <div class="container">

        <div class="how-search-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3>Olá, Visitante</h3>
                <br />
                <div class="container text-center">
                    <a href="usuario" class="btn btn-primary">Efetuar Cadastro</a>
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock conteudo %}